@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Jim Sørensen</p>
<p>Camilla Holmstoel</p>
<p>Simon Kroer</p>
<p>Alexander Wodstrup</p>
<p>KvartPalle</p>
<p>Emil Garder Nielsen</p>
<p>Thomas Mose Daugaard</p>
