@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed";
}

<h1>@ViewData["Title"]</h1>
<p>@Model.StatusMessage</p>
<p>
    Please <a class="text-dark" asp-page="./Login">click here to log in</a>.
</p>