@model UserAdminViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-controller="UserAdmin" asp-action="AddMachines">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentMachine"/>

            <div class="form-group">
                <label>Model Number: </label>
                <input asp-for="CurrentMachine.ModelNumber" type="text" class="form-control" />
                <span asp-validation-for="CurrentMachine.ModelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Machine Type: </label>
                <input asp-for="CurrentMachine.Type" class="form-control" />
                <span asp-validation-for="CurrentMachine.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Installation Date: </label>
                <input asp-for="CurrentMachine.InstallationDate" class="form-control" />
                <span asp-validation-for="CurrentMachine.InstallationDate" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" class="btn btn-primary" asp-controller="UserAdmin" asp-action="AddMachines" />
            </div>
        </form>
    </div>
</div>