@using LaundryTime.Data.Models
@using System.Net.Mime
@model UserAdminViewModel
@{
    ViewBag.Title = "UserAdminEditUser";
    Layout = "_Layout";
}
<br/>
<h3> Edit user information</h3>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentLaundryUser" />

            <div class="form-group">
                <label class="control-label">Name: </label>
                <input asp-for="@Model.CurrentLaundryUser.Name" class="form-control" />
                <span asp-validation-for="@Model.CurrentLaundryUser.Name" class="text-danger"></span>
            </div>

        </form>

        <input type="button" id="InputButtonUserAdmin" value="Update user" onclick="location.href = '@Url.Action("UpdateUser", "UserAdmin", new {email = Model.CurrentLaundryUser.Email})'" />
    </div>

</div>
