@{
    ViewData["Title"] = "Welcome To Laundry Time";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag["Title"]</h1>
    <h2>- Book your wash today</h2>
    <img src=Images/logo.jfif width="400" height="400">
</div>
