<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaundryTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-opacity-blue navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
                    <ul class="navbar-nav flex-grow-1 navbar-dark">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @{
                            if (User.HasClaim("UserAdmin", "IsUserAdmin"))
                            {
                                <li>
                                    <a asp-area="" asp-controller="UserAdmin" asp-action="MyUsers"> My Users</a>
                                </li>
                                <br />
                                <li>
                                    <a asp-area="" asp-controller="UserAdmin" asp-action="IndexMachines">My Machines</a>
                                </li>
                            }
                        }
                        @{
                            if (User.HasClaim("LaundryUser", "IsLaundryUser"))
                            {
                                <li>
                                    <a asp-area="" asp-controller="LaundryUser" asp-action="UsersBookings"> My Bookings</a>
                                </li>
                                <br />
                            }
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<aside>
    <figure>
        <img src="/Images/logo.jfif" style="float: right; width: 225px; height: 225px" alt="Laundry time logo">
    </figure>
</aside>

<footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2021 - LaundryTime
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
