@model LaundryTime.ViewModels.DateViewModel
@{
    ViewData["Title"] = "Datepicker";
}

<p>Please enter the date you want to review booking list for below:</p>

@using (Html.BeginForm())
{
<div class="editor-group">
    @Html.LabelFor(model => model.Datedata, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Datedata)
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input asp-action="AvailableBookings" asp-route-id="@Model.Datedata" type="submit" value="Press Enter" />
    </div>
</div>
}



